################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MFIEntityFrameWork/bin/Debug
/.vs/config
/.vs/SPMS/v15
/BusinessEntities/bin
/BusinessEntities/obj
/BusinessLogic
/CoreComponents
/DataLogic
/MFIEntityFrameWork
/MFIS.Web/Areas/Group/Views/BACKUP_MemberLoanDisbursement
