@{
    ViewBag.Title = "_GroupUnderConstruction";
    Layout = "~/Views/Shared/_GroupLayout.cshtml";
}
<div class="container-fluid">
    <img src="~/Content/images/UnderConstruction.png" alt="PAGE IS UNDER CONSTRUCTION" style="width: 100%;" />
</div>
